extends ../../templates/default.pug

block pageVars
  -
    var page = {
      name: "Séries Originais",
      title: "Séries",
      subtitle: "Inspire-se com nossas séries originais.",
      description: "Inspire-se com as histórias de pessoas e negócios de sucesso. Descubra os segredos e práticas desses empreendedores, e alcance seus sonhos.",
    }

block content
  main#series.page
    header.series-header
      h2.series-header--title Séries originais
      p.series-header--subtitle 
        | Descubra os segredos e práticas desses empreendedores e suas trajetórias de sucesso. 
        //- br 
        //- | Descubra os segredos e práticas desses empreendedores e construa a sua trajetória de sucesso pessoal e profissional.
    
    nav.series-categories
      - var firstCat = true; 
      each category in categories 
        a(href="#" + category.meta, title="Listar videos do " + category.name, class=firstCat? "series-category active" : "series-category")
          h3.series-category--title #{category.name}
          img.series-category--logo(src="/img/logos/logo-serie--" + category.images.logo.black + ".svg", alt=category.name)
        - firstCat = false;
    
    section.series-videos
      - var firstCat = true; 
      each category in categories
        section(id=category.meta, class=firstCat ? "video-list active" : "video-list")
          - for (var i = 0; i < videosArray.length; i++)
            if videosArray[i].category.meta == category.meta
              +videoCard(videosArray[i])
        - firstCat = false;


    include ../../sections/supporters.pug