head
  if page.title
    title #{page.title} | #{page.subtitle}
    meta(name="description", content="#{page.description}")
  else
    title #{siteName} | #{siteQuote}
    meta(name="description", content="#{siteDescription}")

  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")

  meta(name="author", content="Eryc da Silva, CDO do Mentores Online")
  //- meta(name="keywords", content="")

  include sharing.pug
  include favicon.pug

  link(href="https://fonts.googleapis.com/css?family=Barlow+Condensed:700,800|Playfair+Display:900",rel="stylesheet")
  link(href="/css/main.css", rel="stylesheet")

  //-------------------------------
  //-------- ANALYTICS ------------
  //-------------------------------
  //- include analytics/gtag.pug
  include analytics/gtm-head.pug
  include analytics/fbpixel.pug
  