meta(property="og:title", content=page.name ? page.name : siteName + " | " + siteQuote)
meta(property="og:url", content=page.url ? page.url : siteURL)
meta(property="og:description", content=page.description ? page.description : siteDesc)
meta(property="og:image", content=page.image ? page.image : siteShare.bg)
meta(property="og:type", content=page.type ? page.type : siteShare.type)
meta(property="og:locale", content=siteShare.locale)

//- Twitter Cards
meta(name="twitter:card", content="summary")
meta(name="twitter:site", content="@mentoresonline")
meta(name="twitter:creator", content="@mentoresonline")