<!DOCTYPE html>
html
  include ../includes/vars.pug
  include ../includes/data.pug
  block pageVars
    //----------------------------------
    //-
    //-
    //-   MUST CREATE A "PAGE" VARIABLE
    //-
    //-   Should Have:
    //-   * Name {String}: The name of the Page / Video
    //-   * Video {Object}: The specific object from the [VIDEOS] Object.
    //-
    //----------------------------------

  include ../includes/head.pug
  include ../includes/components.pug
  
  - var isVideoPage = true;

  body
    include ../sections/header.pug
    include ../includes/analytics/gtm-body.pug

    main#video.page
      //- include ../sections/cover.pug
      +cover(page.video, page.video.meta)

      section#transcricao.video-content
        //- h2.video-content--title Transcrição do Vídeo

        .video-contents
          article.video-transcription
            block transcription
              h2 Transcrição em desenvolvimento.

              //- .row
              //-   .col
              //-     h2.video-transcription--title Pergunta número um
              //-     p.video-transcription--text
              //-       | Lorem ipsum de apto ip sumi dlo thi wisd lor amidp adapt ma fait yuwv lorem. Lorem ipsum de apto ip sumi dlo thi wisd lor amidp adapt ma fait yuwv lorem. Lorem ipsum de apto ip sumi dlo thi wisd lor amidp adapt ma fait yuwv lorem. 
              //-     p.video-transcription--text
              //-       | Lorem ipsum de apto ip sumi dlo thi wisd lor amidp adapt ma fait yuwv lorem. Lorem ipsum de apto ip sumi dlo thi wisd lor amidp adapt ma fait yuwv lorem. Lorem ipsum de apto ip sumi dlo thi wisd lor amidp adapt ma fait yuwv lorem. 
              //-   .col
              //-     h2.video-transcription--title Pergunta número dois
              //-     p.video-transcription--text
              //-       | Lorem ipsum de apto ip sumi dlo thi wisd lor amidp adapt ma fait yuwv lorem. Lorem ipsum de apto ip sumi dlo thi wisd lor amidp adapt ma fait yuwv lorem. Lorem ipsum de apto ip sumi dlo thi wisd lor amidp adapt ma fait yuwv lorem. 
              //-     p.video-transcription--text
              //-       | Lorem ipsum de apto ip sumi dlo thi wisd lor amidp adapt ma fait yuwv lorem. Lorem ipsum de apto ip sumi dlo thi wisd lor amidp adapt ma fait yuwv lorem. Lorem ipsum de apto ip sumi dlo thi wisd lor amidp adapt ma fait yuwv lorem. 
              //- .row
              //-   h3.video-transcription--quote
              //-     | Lorem ipsum de apto ip sumi dlo thi wisd lor amidp adapt ma fait yuwv lorem. Lorem ipsum de apto ipsum de apto ip sumi dlo thi wisd.
              //- .row
              //-   .col
              //-     h2.video-transcription--title Pergunta número um
              //-     p.video-transcription--text
              //-       | Lorem ipsum de apto ip sumi dlo thi wisd lor amidp adapt ma fait yuwv lorem. Lorem ipsum de apto ip sumi dlo thi wisd lor amidp adapt ma fait yuwv lorem. Lorem ipsum de apto ip sumi dlo thi wisd lor amidp adapt ma fait yuwv lorem. 
              //-     p.video-transcription--text
              //-       | Lorem ipsum de apto ip sumi dlo thi wisd lor amidp adapt ma fait yuwv lorem. Lorem ipsum de apto ip sumi dlo thi wisd lor amidp adapt ma fait yuwv lorem. Lorem ipsum de apto ip sumi dlo thi wisd lor amidp adapt ma fait yuwv lorem. 
              //-   .col
              //-     h2.video-transcription--title Pergunta número dois
              //-     p.video-transcription--text
              //-       | Lorem ipsum de apto ip sumi dlo thi wisd lor amidp adapt ma fait yuwv lorem. Lorem ipsum de apto ip sumi dlo thi wisd lor amidp adapt ma fait yuwv lorem. Lorem ipsum de apto ip sumi dlo thi wisd lor amidp adapt ma fait yuwv lorem. 
              //-     p.video-transcription--text
              //-       | Lorem ipsum de apto ip sumi dlo thi wisd lor amidp adapt ma fait yuwv lorem. Lorem ipsum de apto ip sumi dlo thi wisd lor amidp adapt ma fait yuwv lorem. Lorem ipsum de apto ip sumi dlo thi wisd lor amidp adapt ma fait yuwv lorem. 

          aside.video-info
            each profile in page.video.profiles
              .video-info-profile
                figure.video-info-profile--pic
                  img(src="/img/profile/profile-pic--"+profile.meta+".png", alt="")
                h4.video-info-profile--author= profile.name
                h5.video-info-profile--title= profile.job
                p.video-info-profile--quote= profile.quote
                nav.video-info-profile--social
                  if profile.links
                    each social in profile.links
                      a(href=social.type.url + social.handle, title="Acessar o " + social.type.name + " de " + profile.name, target="_blank").video-info-profile--social-link 
                        img(src="/img/icons/icon-share--" + social.type.meta + ".svg", alt=social.type.name)

    include ../sections/footer.pug  

    block scripts
      include ../includes/scripts.pug